<nav id="my-menu" class="a-offside">
    <div class="a-closeMenubutton">
        <button type="button" class="a-closeMenubutton__button">
            <svg class="a-closeMenubutton__svg">
                <use xlink:href="#close" />
            </svg>
        </button>
    </div>

    {{ structure()
            .bootstrap4()
            .listClass('m-navlist')
            .cache({'namespace': config('app.locale')})
            .render()|raw }}

    <ul class="m-navlist">
        <li>
            <a href="{{ url_route('anomaly.module.posts::posts.index') }}">Posts</a>
        </li>
        {% if auth_check() %}
        <li>
            <a href="{{ url_route('anomaly.module.users::logout') }}"
                class="">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_route('anomaly.module.users::login') }}?redirect={{ request_url() }}"
                class="">Login</a>
        </li>
        {% endif %}
    </ul>

</nav>